/*styles.css*/

*,
*::before,
*::after {
  display: content-box;
}

body {
  background-color: #7cc0c1;
}

h1 {
  text-align: center;
}

a {
  text-transform: uppercase;
  line-height: 20px;
}

img {
  display: block;
  margin: auto;
}

.text-info {
  width: 80vw;
  margin: 0px auto;
}

.text-info h2 {
  text-decoration: underline;
}